@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont Light/Mont Light.eot");
	src: url("../fonts/Mont/Mont Light/Mont Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont/Mont Light/Mont Light.woff") format("woff"),
		url("../fonts/Mont/Mont Light/Mont Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont Regular/Mont Regular.eot");
	src: url("../fonts/Mont/Mont Regular/Mont Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont/Mont Regular/Mont Regular.woff") format("woff"),
		url("../fonts/Mont/Mont Regular/Mont Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont Bold/Mont Bold.eot");
	src: url("../fonts/Mont/Mont Bold/Mont Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont/Mont Bold/Mont Bold.woff") format("woff"),
		url("../fonts/Mont/Mont Bold/Mont Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont SemiBold/Mont SemiBold.eot");
	src: url("../fonts/Mont/Mont SemiBold/Mont SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont/Mont SemiBold/Mont SemiBold.woff") format("woff"),
		url("../fonts/Mont/Mont SemiBold/Mont SemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont Black/Mont Black.eot");
	src: url("../fonts/Mont/Mont Black/Mont Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont/Mont Black/Mont Black.woff") format("woff"),
		url("../fonts/Mont/Mont Black/Mont Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
